<header th:fragment="head" xmlns:th="https://www.thymeleaf.org/">
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2023</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</header>
