<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2023</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="card">
        <h4 class="card-header"><strong th:text="${descripcion}"></strong></h4>
        <div class="card-body">
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Socket</th>
                    <th scope="col">Tipo Memoria</th>
                    <th scope="col">Cant Bancos Mem</th>
                    <th scope="col">Cant PCI Express</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="placaMadre: ${placaMadreList}">
                    <td th:text="${placaMadre.marca}"></td>
                    <td th:text="${placaMadre.modelo}"></td>
                    <td th:text="${placaMadre.socket}"></td>
                    <td th:text="${placaMadre.tipoMemoria}"></td>
                    <td th:text="${placaMadre.cantidadBancosMemorias}"></td>
                    <td th:text="${placaMadre.cantidadBancosPCIExpress}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>