<head th:fragment="cabecera" xmlns:th="https://www.thymeleaf.org/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Adaptacion al Ambiente del Trabajo 2023</title>
    <link rel="apple-touch-icon" th:href="@{/plantilla/app-assets/images/ico/apple-icon-120.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/plantilla/app-assets/images/ico/favicon.ico}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/vendors/css/vendors.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/bootstrap-extended.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/colors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/components.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/themes/dark-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/themes/bordered-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/themes/semi-dark-layout.css}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/core/menu/menu-types/vertical-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/app-assets/css/plugins/forms/form-validation.css}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plantilla/assets/css/style.css}">
    <!-- END: Custom CSS-->


    <!-- BEGIN: Vendor JS-->
    <script th:src="@{/plantilla/app-assets/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN Vendor JS-->
</head>
