<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" >
<head th:insert="layouts/head :: head">
</head>
<body>
   <header th:insert="layouts/menu :: menu-principal">

   </header>
    <div class="container">
        <div class="row">
            <h1>Lista de Alumnos</h1>
        </div>
        <div class="row">
            <div class="col-md-6"><a th:href="@{/alumnos/nuevo}" class="btn btn-primary">Agregar Alumno</a></div>

        </div>
        <br>

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Email</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Division</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alumno: ${alumnos}">
                    <td th:text="${alumno.id}"></td>
                    <td th:text="${alumno.apellido}"></td>
                    <td th:text="${alumno.nombre}"></td>
                    <td th:text="${alumno.dni}"></td>
                    <td th:text="${alumno.email}"></td>
                    <td th:text="${alumno.matricula}"></td>
                    <td th:text="${alumno.division.nombre}"></td>
                    <td>
                        <a th:href="@{/alumnos/editar/{id}(id=${alumno.id})}" class="btn btn-info" >Editar</a>
                        <a th:href="@{/alumnos/eliminar/{id}(id=${alumno.id})}" class="btn btn-danger" >Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>