<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adaptacion al Ambiente del Trabajo 2023</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sistema de Alumnos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/alumnos}">Alumnos</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
    <br>
    <div class="container">
        <div class="card">
            <h4 class="card-header"><strong>Datos del Alumno</strong></h4>
            <div class="card-body">

                    <form th:action="@{/alumnos/guardar}" th:object="${alumno}" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" placeholder="Ingrese el Nombre" name="nombre" th:field="*{nombre}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Apellido</label>
                                    <input type="text" class="form-control" placeholder="Ingrese el Apellido" name="apellido" th:field="*{apellido}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>DNI</label>
                                    <input type="text" class="form-control" placeholder="Ingrese el DNI" name="dni" th:field="*{dni}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Genero</label>
                                    <select class="form-control selectpicker" th:field="*{genero}">
                                        <option value="F">Femenino</option>
                                        <option value="M">Masculino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Correo</label>
                                    <input type="text" class="form-control" placeholder="Ingrese el Correo" name="email" th:field="*{email}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Matricula</label>
                                    <input type="text" class="form-control" placeholder="Ingrese la Matricula" name="matricula" th:field="*{matricula}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Division</label>
                                    <select class="form-control selectpicker" name="division_id" th:field="*{division}" >
                                        <option th:each="division : ${divisiones}"
                                                th:text="${division.nombre}"
                                                th:value="${division.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="box-footer">
                            <button class="btn btn-success">Guardar</button>
                            <a class="btn btn-info" href="javascript:window.history.back();">Cancelar</a>
                        </div>
                    </form>

            </div>
        </div>
    </div>

</body>
</html>